.side-drawer {
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  .sidedrawer__avatar_container{
    //background-color: red;
   // height: 3rem;
    display: flex;
    border-bottom: 1px solid #c6d0da;
    padding: .5rem 1rem;
    .close_button{
      padding: .5rem;
    }
    .sidedrawer_avatar{
      display: flex;
      flex-direction: column;
    }
  }
  .side-drawer-signin-up{
    padding: 2rem 1rem;
    //border-bottom:1px solid #c6d0da;
  }
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  background-color: whitesmoke;
  //height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 0px;
  li:first-child {
    
    border-top: 1px solid grey;
  }
}


.spacer {
  flex: 1;
 
}

@media (min-width: 550px) {
  .side-drawer {
    height: 100%;
    background: white;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    .sidedeawer__logo_container{
      //background-color: red;
      height: 3rem;
      display: flex;
      border-bottom: 1px solid #c6d0da;
      .close_button{
        padding: .5rem;
      }
      padding: .5rem 1rem;
    }
    .side-drawer-signin-up{
      background-color: whitesmoke;
    }
  }
  
  .side-drawer.open {
    transform: translateX(0);
  }
  
  .side-drawer ul {
    background-color: white;
    // height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    li:first-child {
      
      border-top: 0px ;
    }
  }


}

