.landing-container {
  display: flex;
  margin-left: 4rem;
  h1 {
    font-size: 3.5rem;
    font-weight: 400;
  }

  .text-container {
    margin-top: 5rem;
    display: flex;

    flex-direction: column;
    // margin-left: 4rem;
    .title {
      // max-width: rem;
    }
    .home-get-start-button {
      margin-top: 3rem;
      // margin-left: 4rem;
    }
  }
  .image-container {
    //resize: horizontal;
    svg {
      max-width: 100%;
    }
    img {
      //resize: horizontal;
      // max-width: 25rem;
      //       resize: horizontal,
      //     overflow: hidden,
      //    // width: '1000px',
      //     height: auto,
    }
  }
}
@media (max-width: 1400px) {
  .landing-container {
    h1 {
      font-size: 2.5rem;
      font-weight: 400;
    }
    display: flex;
    flex-direction: column;
  }
  // .text-container {
  //   //   background-color: red;
  // }
  .image-container {
    svg {
      display: none;
    }
  }
  .text-container {
    width: 100%;
    align-content: space-around;
  }
}
